# Environment Variables
NODE_ENV=development
PORT=5000

# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017/clothing-store

# For production, use something like:
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/clothing-store